@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html
{
    font-family: "Poppins", serif;
    max-height: 50vh;
}

                        /*XXXXXXXXXXXXXXXX Root XXXXXXXXXXXXX*/
html
{
    scroll-behavior: smooth;
}

:root
{
    --main-color: #00a15e;
    --main-box-shadow :0 5px 15px rgba(0,0,0,0.2);
    --main-text-shadow :0 10px 15px var(--main-color);
    --main-text-shadow2 :0 10px 205px var(--main-color);
    --black-900:#000;
    --black-400:#646f87;
    --black-alpha-100:rgba(0,0,0,.05);
    --main-background-color1 : #f9f9f9;
    --main-background-color2 : white;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body
{
    font-family: "Kaushan Script", cursive;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
}

header
{
    display: block;
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul
{
    list-style: none;
}

.icon
{
    font-size: 1.2em;
}
.login-icon
{
    font-size: 2em;
    color: var(--main-color);
}

section
{
    padding: 80px 0;
}

.Section-titles
{
    display: flex;
    flex-direction: column;
}
.main-title
{
    display: block;
    align-items: center;
    font-size: 2em;
    color: black;
    text-align: center;
}

.Section-titles h2
{
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}

.Section-titles .line 
{
    padding-top: 0px;
}

 .line li
{
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50px;
    height: 3px;
}
.line li:nth-of-type(1)
{
    width: 60%;
    margin-left: 10px;
}
.line li:nth-of-type(2)
{
    width: 10%;
}
 .line li:nth-of-type(3)
{
    width: 7%;
    border-radius: 50%;
}
                        





                        /*XXXXXXXXXXXXXXXX Navigation Bar XXXXXXXXXXXXX*/
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 2em;
    transition: all 0.5s ease;
    background-color: #f7f7f7;
    box-shadow: var(--main-box-shadow);
    border-radius: 50px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

       /*logo*/
.logo a 
{
    font-size: 2em;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}

.logo a span
{
    color: var(--main-color);
}

.links
{
    width: 60%;
    
}

.links ul
{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

}

.links .l1 
{
    display: flex;
    justify-content: left;
    margin-right: 2em;
    padding: 1em;
    display :block;
}

.links .l1 a
{
    color: var(--main-color);
}

.links .l1 .active
{
    color: var(--main-color);
    text-shadow: var(--main-text-shadow);
}

.links .l1 .line li
{
    margin: 2px;
    opacity: 0;
    visibility: hidden;
}


.links .l1 .active .line li
{
    opacity: 1;
    visibility: visible;
}

.links .l1 a:hover > .links .l1 .active .line li
{
    opacity: 1;
    visibility: visible;
}


.login a
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login a span, .login span i
{
    display: block;
    color: var(--main-color);
}





                        /*XXXXXXXXXXXXXXXX Home XXXXXXXXXXXXX*/
#Home-section
{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--main-background-color2);
    padding-top: 1em ; 
}



.home-container1
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    min-width: 50%;
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 6em 0em 0em 0em;
}

.home-container1 .sp1
{
    font-size: 1.2em;
    color: var(--main-color);
    font-weight: 800;
    text-shadow: var(--main-box-shadow);
}

.home-container1 #date
{
    font-size: 4em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: var(--main-text-shadow);
    display: inline;
    justify-content: center;
    border-bottom: 2px solid var(--main-color);
}

.home-container1 .address
{
    font-size: 0.6em;
    font-weight: bolder;
    display: inline;
}

.home-container1 .sp2
{
    font-size: 2em;
    color: var(--main-color);
    font-weight: 800;
}

.home-container1 h1
{
    font-size: 2em;
    text-shadow: var(--main-text-shadow);
    margin-top: 0.5em;
}

.home-container1 .p2
{
    color: #646f87;
    margin: 1em ;
    margin-bottom: 0;
}

#home-button
{
    display: flex;
    justify-content: end;
    margin: 1.5em;
    margin-bottom: 0em;
}

.home-container1 .home-button
{
    background-color: var(--main-color);
    padding: 1em;
    border: none;
    color: white;
    font-size: 0.5em;
    text-transform: capitalize;
    font-weight: bolder;
    border-radius: 30px;
    box-shadow: var(--main-box-shadow);
    transition: all 0.3s ease-out;
    position: relative;
    right: 1;
}
.home-container1 .home-button:hover
{
    background-color: var(--main-background-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);  
}
.home-container2
{
    display: inline-block;
    max-height: 100%;
    min-width: 30%;
    display: block;   
}
.home-container3
{
    max-height: 100%;
    min-width: 25%;
    display: block;
    rotate: 180deg; 
}

#circle1
{
    border-radius: 50%;
    display: block;
    align-items: right;
    border: none;
    width: 800px;
    height: 600px;
    background: var(--main-color);
    box-shadow: var(--main-text-shadow);
}

#circle2
{
    border-radius: 50%;
    border: none;
    width: 800px;
    height: 600px;
    background: var(--main-color);
    box-shadow: var(--main-text-shadow);
    margin-top: 100%;
}






                        /*XXXXXXXXXXXXXXXX Gallery XXXXXXXXXXXXX*/
#Gallery-section
{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    background-color: var(--main-background-color1);
}

#Gallery-section .categories
{
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#Gallery-section .categories button
{
    text-transform: uppercase;
    outline: none;
    border: 2px solid;
    border-color: var(--main-color);
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
    margin: 1em;
    color: var(--main-color);
    border-radius: 30px;
    box-shadow: var(--main-box-shadow);
    transition: all 0.3s ease;
}

#Gallery-section .categories .active,
#Gallery-section .categories button:hover
{
    color: white;
    background-color: var(--main-color);
}

#Gallery-section .Images
{
    display: flex;
    max-width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#Gallery-section .Images .Container-gallery-image
{
    display: inline-block;
    margin: 1em auto;
    border-radius: 30px;
    box-shadow: var(--main-box-shadow);
}

#Gallery-section .Images .Container-gallery-image:hover
{
    box-shadow:  0px 0px 2em 1em var(--main-color);
    border: 3px solid var(--main-color);
}

img
{
    height: auto;
    width: auto;
    width: 100%;
    min-width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 350px;
    border-radius: 30px;
    box-shadow: var(--main-box-shadow);
}

img:active
{
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    box-shadow:  0px 0px 2em 1em var(--main-color);
    border: 3px solid var(--main-color);
}






                        /*XXXXXXXXXXXXXXXX Ticket XXXXXXXXXXXXX*/
#Ticket-section
{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-background-color2)
}

#Ticket-section .all-ticket
{
    display: flex;
    flex-direction: row;
   justify-content: center;
}

#Ticket-section .Ticket-container
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin: 1em;
    display: flex;
    flex-direction: column;   
}

.pricing-plan
{
    box-shadow: var(--main-box-shadow);
    border-radius: 40%;
    overflow: hidden;
    width: 100%;
}


#Ticket-section .Ticket-container .ticket-header
{
    padding: 2em 2em;
    border-bottom: 1px solid black;
    position: relative;
}


.Ticket-container .ticket-header h3
{
    font-size: 2em;
    color: var black;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}

.Ticket-container .ticket-price
{
    padding: 40px 30px;
    display: flex;
    line-height: 0.7;
}
.Ticket-container .ticket-price .monnaie
{
    font-size: 1em;
    font-weight: bold;
    color: var(--black-400);
    margin-left: 10px;
    align-self: flex-start;
}
.Ticket-container .ticket-price .price-entire 
{
    font-size: 3.5em;
    font-weight: 700;
    color: var(--main-color);
}
.Ticket-container .ticket-price .price-centime
{
    font-size: 2em;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 0.5em;
    align-self: flex-start;
}
.Ticket-container .ticket-price .number-person
{
    font-size: 1em;
    font-weight: bold;
    color: var(--black-400);
    margin-right: 5px;
    align-self: flex-end;
    text-transform: uppercase;
}

.Ticket-container .ticket-body ul li:last-child
{
    border-bottom: none;
}

.Ticket-container .ticket-body li
{
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid var(--black-alpha-100);
    line-height: 26px;
    position: relative;
}

.Ticket-container .ticket-body li i
{
    color: var(--main-color);
    font-size: 1em;
      
}

.Ticket-container .ticket-body .no i 
{
    color: red;
    font-size: 1em;
      
}

.Ticket-container .ticket-footer
{
    padding: 50px;
    text-align: center;
}

.Ticket-container .ticket-button
{
    background-color: white;
    padding: 10px 30px;
    color: var(--main-color);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: var(--main-box-shadow);
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease-out;
}

.Ticket-container .ticket-button:hover, .Ticket-container   #active
{
    background-color: var(--main-color);
    color: white;
}






                        /*XXXXXXXXXXXXXXXX Contact XXXXXXXXXXXXX*/
#Contact-section
{
    min-height: 100vh;
    background-color: var(--main-background-color1);
    display: flex;
    flex-direction: column;
    
}

#Contact-section .contact-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 6em;
}

.container-grp1-grp2
{
    display: flex;
    justify-content: center;
}

#Contact-section  .form-group1
{
    display: inline-block;
    min-width: 30%;
    margin: auto 0;
}

#Contact-section  .form-group2
{
    display: inline-block;
    min-width: 40%;
}


#Contact-section .contact-item
{
    flex: 0 0 33.33%;
    max-width: 25%;
    padding: 2em;
    display: flex;
}

#Contact-section .contact-item-inner
{
    padding: 30px 15px;
    text-align: center;
    
    border-radius: 0.5em;
    width: 100%;
}
#Contact-section .contact-item-inner i
{
    font-size: 25px;
    color: var(--main-color);
}
#Contact-section .contact-item-inner span
{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--black-900);
    margin: 15px 0 10px;
    text-transform: capitalize;
}
#Contact-section .contact-item-inner p
{
    font-size: 16px;
    color: var(--black-400);
    line-height: 26px;
    margin: 0;
}
#Contact-section .contact-form
{
    flex: 0 0 100%;
}

#Contact-section .input-form
{
    border-radius: 30px;
    background-color: var(--black-100);
    box-shadow: var(--main-box-shadow);
    margin: 0 0 1.5em;
    margin-right: 0.75em;
}
#Contact-section .input-form .input-control
{
    min-height: 100%; 
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: bolder;
    padding: 1em;
    transition: all 0.3s ease;
    color: var(--black-400);
}

#Contact-section .input-form textarea.input-control
{
    height: 14em;
    resize: none;
}

#Contact-section .input-form .input-control:focus
{
    border: 2px solid var(--main-color);
    font-weight: bold;
}

#Contact-section .form-group3
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 1em;
    margin: 0 12.5em;
}


#Contact-section .contact-button
{
    background-color: var(--main-color);
    padding: 1em;
    border: none;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bolder;
    border-radius: 30px;
    box-shadow: var(--main-box-shadow);
    transition: all 0.3s ease-out;
}
#Contact-section .contact-button:hover
{
    background-color: var(--main-background-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);  
}






                        /*XXXXXXXXXXXXXXXX Footer XXXXXXXXXXXXX*/
footer
{
    background-color: var(--main-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: var(--main-box-shadow);
    padding-bottom: 1em;
}
footer .copyright-text1
{
    padding-top: 1em;
    font-size: 1.2em;
    color: white;
    font-weight: 300;
    margin: 0.5em;
    text-align: center;
}

footer .copyright-text2
{
    padding-bottom: 1em;
    font-size: 1.2em;
    color: white;
    font-weight: 300;
    margin: 0.5em;
    text-align: center;
}


                        /*XXXXXXXXXXXXXXXX Login XXXXXXXXXXXXX*/
#login-body
{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color1);
    font-family: "Kaushan Script", cursive;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-image: url("../img/la-cite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login-body form 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6%;
    background-color: var(--main-background-color2);
    padding: 3em 5em;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: var(--main-box-shadow);
}

#login-body form h1
{
    color: var(--main-color);
    text-align:center;
    padding-bottom: 1em;
    text-shadow: var(--main-text-shadow);
}

#login-body form .social-media
{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}

#login-body form .social-media p
{
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 0.5em;
    margin: 0.7em;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    cursor: pointer;
    color: var(--main-color);
}

#login-body form .social-media p:hover,
#login-body form .social-media .selected
{
    color: var(--main-background-color1);
    background-color: var(--main-color);
}

#login-body form p.choose-email
{
    text-align:center;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#login-body form .inputs
 {
    display: flex;
    flex-direction: column;
    
}

#login-body form .inputs input[type='email'], input[type='password']
{
    padding: 1.3em;
    border:none;
    font-size: 1em;
    border-radius: 5px;
    background-color:var(--main-background-color2);
    outline:none;
    margin-bottom: 1em;
    box-shadow: var(--main-box-shadow);
   
}

#login-body form .inputs input[type='email']:focus, 
input[type='password']:focus
{
    border: 2px solid var(--main-color);
    font-weight: bold;
}

#login-body form p.inscription
{
    font-size: 1em;
    margin-bottom: 1.2em;
    color: var(--black-400);
}

#login-body form p.inscription span a
{
    color: var(--main-color);
    text-shadow: var(--main-text-shadow);
    font-weight: bolder;
    font-size: 1.5;
}

#login-body form button
{
    display: block;
    padding: 0.5em 2em;
    margin-top: 1em;
    border-radius: 30px;
    border:none;
    font-size: 15px;
    color: var(--main-background-color1);
    background-color: var(--main-color);
    box-shadow: var(--main-box-shadow);
    outline:none;
    cursor:pointer;
}

                        /*XXXXXXXXXXXXXXXX Media Query XXXXXXXXXXXXX*/

/*mediaquery*/
.links, 
.links .l1 .active .line li,
.login a .s-log,
.contact-item .contact-item-inner span,
.contact-item .contact-item-inner p
{
     visibility: hidden;
     opacity: 0;
}

#Contact-section .contact-item-inner
{
    padding: 30px 15px;
    text-align: center;
    box-shadow: var(--main-box-shadow);
    border-radius: 0.5em;
    width: 100%;
}

#Ticket-section .all-ticket
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
    
}

#Ticket-section .Ticket-container
{
    display: block;
    margin: 1em;
    display: flex;
    flex-direction: column;  
}

@media (min-width: 50em)
{
    
    .links, 
    .links .l1 .active .line li,
    .login a .s-log,
    .contact-item .contact-item-inner span,
    .contact-item .contact-item-inner p
    {
        visibility: visible;
        opacity: 1;
    }

   

}

@media (min-width: 60em)
{
        #Ticket-section .all-ticket
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
    }

    #Ticket-section .Ticket-container
    {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin: 1em;
        display: flex;
        flex-direction: column;   
    }

}
